/* Reset de estilos para garantir uma base consistente */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #737373; /* Cinza escuro */
    padding: 20px;
    color: #333;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 2.5em;
    margin-top: 10px;
    color: #333;
}

header img {
    max-width: 300px;
    height: auto;
    border-radius: 60%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    margin-top: 30px;
}

/* Estilos para as seções de conteúdo */
section {
    background-color: #3e3838; /* Cinza escuro */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

section h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #b80202; /* Vermelho escuro */
}

section p {
    font-size: 1.1em;
    color: #fffdfd; /* Branco */
    margin-bottom: 15px;
}

section ul {
    list-style-type: none;
    padding-left: 20px;
}

section ul li {
    font-size: 1.1em;
    color: #ffffff; /* Branco */
    margin-bottom: 5px;
}

/* Estilos para o rodapé */
footer {
    text-align: center;
    margin-top: 20px;
    color: #ffffff; /* Branco */
    font-size: 0.9em;
}

footer a {
    color: #333;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: #555;
}

/* Media query para dispositivos menores que 768px (como tablets e celulares) */
@media (max-width: 768px) {
    header h1 {
        font-size: 2em; /* Reduz o tamanho do título */
    }

    header img {
        max-width: 200px; /* Reduz o tamanho da imagem */
        margin-top: 20px;
    }

    section h2 {
        font-size: 1.5em; /* Reduz o tamanho do título da seção */
    }

    section p {
        font-size: 1em; /* Reduz o tamanho do texto da seção */
    }
}

